<h1>New User Sign-Up</h1>
<%= form_for :user, url: '/users' do |f|%>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  Confirm password: <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up" %>
<% end %>
